@model Pagos.Models.FacturasDetalles

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FacturasDetalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacturaDetalleDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaDetalleDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaDetalleCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaDetalleCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaDetallePrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaDetallePrecioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaDetalleImporteTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaDetalleImporteTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facturas.FacturaSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facturas.FacturaSerie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
