@model Pagos.Models.Facturas

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Factura</h2>

<h3>¿Está seguro que desea eliminar este registro?</h3>
<br>
<div>
    <h4>Facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacturaProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaSerie)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaSerie)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.FacturaNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaFechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaFechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaFechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaFechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaMoneda)
        </dt>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
