@model IEnumerable<Pagos.Dtos.DtoFactura>

@{
    ViewBag.Title = "Index";
}

<h2>Consultar Facturas</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Factura.FacturaProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.TiposFacturas.TipoFacturaCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.FacturaSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.FacturaNumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.FacturaFechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.FacturaFechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.FacturaEstado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.Proyectos.ProyectoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.TiposFacturas.TipoFacturaDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.FacturaSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.FacturaNumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.FacturaFechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.FacturaFechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.FacturaEstado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Factura.FacturaId }) |
            @Html.ActionLink("Details", "Details", new { id = item.Factura.FacturaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Factura.FacturaId })|
            @Html.DisplayFor(modelItem => item.Moneda.MonedaDescripcion)
        </td>
    </tr>
}

</table>
