@model IEnumerable<Pagos.Models.Proyectos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Listado de Proyectos</h2>

<p>
    @Html.ActionLink("Crear Nuevo Proyecto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monedas.MonedaDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoUtilidadPorcentaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoUtilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoGastosGenerales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoIgv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoMontoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoFechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoFechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoLugarEntrega)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.Empresas.EmpresaDescripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monedas.MonedaDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoUtilidadPorcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoUtilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoGastosGenerales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoIgv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoMontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoFechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoFechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoLugarEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresas.EmpresaDescripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProyectoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProyectoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProyectoId })
            </td>
        </tr>
    }

</table>
