@model Pagos.Models.Proveedores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProveedorRuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorRuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorRazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorRazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorDireccionFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorDireccionFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorPlazoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorPlazoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorPorcentajeDetraccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorPorcentajeDetraccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorCuentaDetraccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorCuentaDetraccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioValidacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioValidacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProveedorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProveedorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiposDetracciones.TipoDetraccionCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposDetracciones.TipoDetraccionCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiposProveedores.TipoProveedorCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposProveedores.TipoProveedorCodigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProveedorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
