<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Norton - Pagos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Norton", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse">
        <div class="navbar navbar-dark">
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Proyectos", "Index", "Proyectos")</li>
                <li class="nav-item">@Html.ActionLink("Ordenes", "Index", "Ordenes")</li>
                <li class="nav-item">@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                <li class="nav-item">@Html.ActionLink("Facturas", "Index", "Facturas")</li>
                <li class="nav-item">
                    <select id="usuario">
                        <option value="--">Seleeccionar Usuario</option>
                        <option value="RO">Residente de Obra</option>
                        <option value="GO">Gerente de Obra</option>
                        <option value="GG">Gerente General</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NORTON</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        jQuery.validator.unobtrusive.adapters.add(
            'notequal', ['valor'], function (options) {
                options.rules['notEqual'] = options.params.valor;
                if (options.message) {
                    options.messages['notEqual'] = options.message;
                }
            });

        jQuery.validator.addMethod('notEqual', function (value, element, param) {
            return this.optional(element) || value != param
        }, '');
        jQuery.validator.addMethod('NoGuidEmpty', function (value, element) {
            return $("#" + element.id).val() != '00000000-0000-0000-0000-000000000000';
        }, 'Debe elegir una opción');
    </script>
    @RenderSection("comunes", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>